<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECommerce-Mobile copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ECommerce-Mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ECommerce-iOS-UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>660D8FA51BB6191E009CEF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661BC5E91BB35D0D00F4BE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661BC6081BB35D0D00F4BE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661BC6131BB35D0D00F4BE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668AE0891BB5D29A009D4517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668AE0BA1BB5D321009D4517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
